# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Análise de Dados com Python e Linguagem SQL</font>

**Por Que a Linguagem SQL é Fundamental Para Profissionais de Dados?**

A Linguagem SQL (Structured Query Language) é fundamental para profissionais de dados por várias razões:

- **Padrão Universal**: SQL é uma linguagem padrão e amplamente aceita para gerenciamento e consulta de bancos de dados relacionais. Independentemente do sistema gerenciador de banco de dados (SGBD) utilizado, SQL é a linguagem comum para realizar consultas e manipulações de dados.


- **Flexibilidade**: SQL permite criar consultas complexas e personalizadas, combinando dados de várias tabelas, filtrando informações e realizando operações de agregação e ordenação. Isso permite que os profissionais de dados extraiam informações valiosas a partir dos dados armazenados.


- **Manipulação de Dados**: Além das consultas, SQL permite a inserção, atualização e exclusão de dados, bem como a definição de esquemas e gerenciamento de objetos de banco de dados, como tabelas, índices e visões.


- **Controle de Acesso e Segurança**: SQL também oferece recursos para gerenciar o acesso e a segurança dos dados, permitindo aos profissionais de dados controlar quem pode acessar, modificar ou excluir informações no banco de dados.


- **Alta Demanda no Mercado**: Profissionais de dados com habilidades em SQL estão em alta demanda, já que a linguagem é amplamente usada em várias áreas e setores. O conhecimento em SQL é uma habilidade essencial para cargos como <a href="https://www.datascienceacademy.com.br/bundle/formacao-analista-de-dados">Analista de Dados</a>, <a href="https://www.datascienceacademy.com.br/bundle/formacao-cientista-de-dados">Cientista de Dados</a>, <a href="https://www.datascienceacademy.com.br/bundle/formacao-engenheiro-de-dados">Engenheiro de Dados</a> e Administrador de Banco de Dados.


- **Integração com Outras Ferramentas e Tecnologias**: SQL se integra facilmente com outras ferramentas e linguagens de programação, como Python, R, Java, entre outras. Isso permite que os profissionais de dados aproveitem o poder da Linguagem SQL em conjunto com outras tecnologias para analisar, visualizar e processar dados.

Dominar a linguagem SQL proporciona aos profissionais de dados uma base sólida para trabalhar com bancos de dados relacionais e extrair insights valiosos a partir deles. Aprender SQL é um passo essencial para qualquer pessoa que deseja ingressar ou progredir no campo da Análise e Ciência de dados. A Linguagem SQL é fundamental para profissionais de dados. 

**Onde Encontrar Material de Estudo?**

Além deste capítulo que estudaremos agora, veja onde encontrar material sobre SQL aqui na DSA:

- A Linguagem SQL (nível de introdução) é estudada em um capítulo inteiro no curso gratuito de <a href="https://www.datascienceacademy.com.br/course/microsoft-power-bi-para-business-intelligence-e-data-science">Microsoft Power BI Para Business Intelligence e Data Science</a>.


- A Linguagem SQL é estudada em diversos Labs do curso <a href="https://www.datascienceacademy.com.br/course/power-bi-avancado-para-analise-de-dados-com-dax">Power BI Avançado Para Análise de Dados com DAX</a>.


- A Linguagem SQL é estudada em detalhes no curso SQL Para Data Science, o primeiro da <a href="https://www.datascienceacademy.com.br/bundle/formacao-analista-de-dados">Formação Analista de Dados</a>.


- A Linguagem SQL é estudada em 4 dos 6 cursos da <a href="https://www.datascienceacademy.com.br/bundle/formacao-cientista-de-dados">Formação Cientista de Dados</a> e usada em diversos Labs, Estudos de Caso, Mini-Projetos e Projetos.


- A Linguagem SQL é estudada em um Lab completo no primeiro curso da <a href="https://www.datascienceacademy.com.br/bundle/formacao-engenheiro-de-dados">Formação Engenheiro de Dados</a> e usada nos projetos de diversos cursos da Formação.


- A Linguagem SQL é estudada em um capítulo inteiro (nível avançado) no segundo curso da <a href="https://www.datascienceacademy.com.br/bundle/formacao-arquiteto-de-dados">Formação Arquiteto de Dados</a> e usada nos projetos de diversos cursos da Formação.


- No curso de Excel Avançado, (curso de bônus gratuito e exclusivo para os alunos das Formações DSA) há um Lab demonstrando passo a passo como usar SQL dentro do Excel.

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Para este capítulo usaremos o SQLite: https://sqlite.org/index.html

In [ ]:
import sqlite3

In [ ]:
sqlite3.sqlite_version

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

## Conectando no Banco de Dados com Linguagem Python

Leia o manual em pdf no Capítulo 12 do curso com a descrição completa do que é a Linguagem SQL!

In [ ]:
# Conecta no banco de dados
con = sqlite3.connect('arquivos/Banco de dados de teste - SQLite.db')

In [ ]:
# Abre um cursor para percorrer os dados no banco de dados
cursor = con.cursor()

In [ ]:
# Query SQL para extrair os nomes das colunas no banco de dados
sql_query = """SELECT name FROM sqlite_master WHERE type = 'table';"""

In [ ]:
# Executa a query
cursor.execute(sql_query)

In [ ]:
# Visualiza o resultado
print(cursor.fetchall())

> A query abaixo retorna todas as linhas e todas as colunas da tabela.

In [ ]:
# Cria uma instrução SQL
query1 = 'SELECT * FROM tb_vendas_dsa'

In [ ]:
# Executa a query no banco de dados
cursor.execute(query1)

In [ ]:
# List comprehension para visualizar os nomes das colunas
nomes_colunas = [description[0] for description in cursor.description]

In [ ]:
# Visualiza o resultado
print(nomes_colunas)

In [ ]:
# Retorna os dados da execução da query
dados = cursor.fetchall()

In [ ]:
# Visualiza os dados
dados

## Aplicando Linguagem SQL Direto no Banco de Dados com Linguagem Python

> A query abaixo retorna a média de unidades vendidas.

In [ ]:
# Cria uma instrução SQL para calcular a média de unidades vendidas
query2 = 'SELECT AVG(Unidades_Vendidas) FROM tb_vendas_dsa'

In [ ]:
# Executa a query no banco de dados
cursor.execute(query2)

In [ ]:
# Visualiza o resultado
print(cursor.fetchall())

> A query abaixo retorna a média de unidades vendidas por produto.

In [ ]:
# Cria uma instrução SQL para calcular a média de unidades vendidas por produto
query3 = 'SELECT Nome_Produto, AVG(Unidades_Vendidas) FROM tb_vendas_dsa GROUP BY Nome_Produto'

In [ ]:
# Executa a query no banco de dados
cursor.execute(query3)

In [ ]:
# Visualiza o resultado
cursor.fetchall()

> A query abaixo retorna a média de unidades vendidas por produto se o valor unitario for maior do que 199.

In [ ]:
# Cria uma instrução SQL para calcular a média de unidades vendidas por produto,
# quando o valor unitário for maior que 199
query4 = """SELECT Nome_Produto, AVG(Unidades_Vendidas) 
            FROM tb_vendas_dsa 
            WHERE Valor_Unitario > 199 
            GROUP BY Nome_Produto"""

In [ ]:
# Executa a query no banco de dados
cursor.execute(query4)

In [ ]:
# Visualiza o resultado
cursor.fetchall()

> A query abaixo retorna a média de unidades vendidas por produto se o valor unitario for maior do que 199 e somente se a média de unidades vendidas for maior do que 10.

In [ ]:
# Esta query está ERRADA!
query5 = """SELECT Nome_Produto, AVG(Unidades_Vendidas) 
            FROM tb_vendas_dsa 
            WHERE Valor_Unitario > 199 and AVG(Unidades_Vendidas) > 10
            GROUP BY Nome_Produto """

In [ ]:
# Executa a query no banco de dados
# cursor.execute(query5)

In [ ]:
# Cria uma instrução SQL para calcular a média de unidades vendidas por produto,
# quando o valor unitário for maior que 199, mas somente se a média de unidades vendidas for maior que 10
query5 = """SELECT Nome_Produto, AVG(Unidades_Vendidas) 
            FROM tb_vendas_dsa 
            WHERE Valor_Unitario > 199 
            GROUP BY Nome_Produto 
            HAVING AVG(Unidades_Vendidas) > 10"""

In [ ]:
# Executa a query no banco de dados
cursor.execute(query5)

In [ ]:
# Visualiza o resultado
cursor.fetchall()

In [ ]:
# Fecha o cursor e encerra a conexão
cursor.close()
con.close()

## Aplicando Linguagem SQL na Sintaxe do Pandas com Linguagem Python

In [ ]:
# Conecta no banco de dados
con = sqlite3.connect('arquivos\\Danco de dados de teste - SQLite.db')

In [ ]:
# Abre um cursor para percorrer os dados no banco de dados
cursor = con.cursor()

> A query abaixo retorna todas as linhas e todas as colunas da tabela.

In [ ]:
# Cria uma instrução SQL
query = 'SELECT * FROM tb_vendas_dsa'

In [ ]:
# Executa a query no banco de dados
cursor.execute(query)

In [ ]:
# Retorna os dados da execução da query
dados = cursor.fetchall()

In [ ]:
dados

In [ ]:
type(dados)

In [ ]:
# Carrega os dados como dataframe do Pandas
df = pd.DataFrame(dados, columns = ['ID_Pedido', 
                                    'ID_Cliente', 
                                    'Nome_Produto',
                                    'Valor_Unitario',
                                    'Unidades_Vendidas',
                                    'Custo'])

In [ ]:
df.head()

In [ ]:
# Fecha o cursor e encerra a conexão
cursor.close()
con.close()

> A query abaixo retorna a média de unidades vendidas.

In [ ]:
# Calcula a média de unidades vendidas
media_unidades_vendidas = df['Unidades_Vendidas'].mean()

In [ ]:
type(media_unidades_vendidas)

In [ ]:
print(media_unidades_vendidas)

> A query abaixo retorna a média de unidades vendidas por produto.

In [ ]:
# Calcula a média de unidades vendidas por produto
media_unidades_vendidas_por_produto = df.groupby('Nome_Produto')['Unidades_Vendidas'].mean()

In [ ]:
# Visualiza os 10 primeiros resultados
print(media_unidades_vendidas_por_produto.head(10))

> A query abaixo retorna a média de unidades vendidas por produto se o valor unitario for maior do que 199.

In [ ]:
# Retorna a média de unidades vendidas por produto se o valor unitario for maior do que 199.
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto')['Unidades_Vendidas'].mean()

> A query abaixo retorna a média de unidades vendidas por produto se o valor unitario for maior do que 199 e somente se a média de unidades vendidas for maior do que 10.

In [ ]:
# Alternativa A
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto').filter(lambda x: x['Unidades_Vendidas'].mean() > 10)

In [ ]:
# Alternativa B
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto') \
                              .filter(lambda x: x['Unidades_Vendidas'].mean() > 10) \
                              .groupby('Nome_Produto')['Unidades_Vendidas'].mean()

## Sintaxe SQL x Sintaxe Pandas

As duas instruções abaixo retornam o mesmo resultado!

In [ ]:
# Sintaxe SQL
query5 = """SELECT Nome_Produto, AVG(Unidades_Vendidas) 
            FROM tb_vendas_dsa 
            WHERE Valor_Unitario > 199 
            GROUP BY Nome_Produto 
            HAVING AVG(Unidades_Vendidas) > 10"""

In [ ]:
# Sintaxe Pandas
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto') \
                              .filter(lambda x: x['Unidades_Vendidas'].mean() > 10) \
                              .groupby('Nome_Produto')['Unidades_Vendidas'].mean()

# Fim


### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>